<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Updates the repo with backups of the Jenkins state.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd $JENKINS_HOME
git add --ignore-errors .
git status | grep &quot;deleted&quot; | awk &apos;{print $3}&apos; &gt; tempStatusFile
type nul &gt; blank
fc tempStatusFile blank &gt; nul
if errorlevel 1 git rm --ignore-unmatch &lt; tempStatusFile

git commit -am &quot;Automated Jenkins commit&quot;
git push -q origin master</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>