<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build of TideSDK on Windows 8 on x86.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/TideSDK/TideSDK/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/TideSDK/TideSDK</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/v1.2-windows</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Windows</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <assignedNode>Windows-8-x86-fairwinds</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.cloudbees.jenkins.GitHubPushTrigger>
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>git submodule update --init
cd kroll
git checkout origin/develop
cd ..</command>
    </hudson.tasks.BatchFile>
    <com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
      <sconsName>(Default)</sconsName>
      <options></options>
      <variables></variables>
      <targets>clean</targets>
      <rootSconsscriptDirectory></rootSconsscriptDirectory>
      <sconsscript></sconsscript>
    </com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
    <com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
      <sconsName>(Default)</sconsName>
      <options>debug=1 MSPSDK=&quot;C:\\Program Files\\Microsoft Platform SDK&quot;</options>
      <variables></variables>
      <targets>sdkinstaller</targets>
      <rootSconsscriptDirectory></rootSconsscriptDirectory>
      <sconsscript></sconsscript>
    </com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
    <hudson.tasks.BatchFile>
      <command>SET COMMIT_HASH=%GIT_COMMIT:~-8%
cd build\win32
del TideSDK*.zip
echo &quot;Zipping Titanium SDK Installer to TideSDK-1.2.1.RC1-%COMMIT_HASH%-windows-7-x86-64.zip&quot;
7z.exe a -tzip &quot;TideSDK-1.2.1.RC1-%COMMIT_HASH%-windows-8-x86.zip&quot; &quot;Titanium SDK Installer\&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="java.util.Collections$EmptyList"/>
      <strategy>STATECHANGE_ONLY</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>