<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Updates the repo with backups of the Jenkins state.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
      <skip>false</skip>
    </org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>@daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd &quot;$JENKINS_HOME&quot;
export GIT_SSH=&quot;C:\Program Files (x86)\Putty\plink.exe -ssh -i C:\git.ppk &quot;
git add -A --ignore-errors
git diff --quiet --exit-code --cached || git commit -q -am &quot;Automated Jenkins commit&quot;
echo y | git push origin master</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>