<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/TideSDK/TideSDK/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
      <skip>false</skip>
    </org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/TideSDK/TideSDK</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Unix</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <assignedNode>Mac-OSX-10.7.4-x86-64-fairwinds</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.cloudbees.jenkins.GitHubPushTrigger>
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
      <sconsName>Mac Ports Scons</sconsName>
      <options></options>
      <variables></variables>
      <targets>clean</targets>
      <rootSconsscriptDirectory></rootSconsscriptDirectory>
      <sconsscript></sconsscript>
    </com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
    <com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
      <sconsName>Mac Ports Scons</sconsName>
      <options>debug=1 -s</options>
      <variables></variables>
      <targets>sdkinstaller</targets>
      <rootSconsscriptDirectory></rootSconsscriptDirectory>
      <sconsscript></sconsscript>
    </com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
    <hudson.tasks.Shell>
      <command>COMMIT_HASH=$(echo $GIT_COMMIT | awk &apos;{print substr($0,length($0)-7)}&apos;)
cd build/osx
rm -f TideSDK*.zip
zip -r &quot;TideSDK-1.2.1.RC1-$COMMIT_HASH-osx-10.7.4-x86-64.zip&quot; &quot;Titanium SDK Installer.app&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.publish__over__ftp.BapFtpPublisherPlugin>
      <consolePrefix>FTP: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ftp.BapFtpPublisher>
            <configName>tidesdk.multipart.net</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ftp.BapFtpTransfer>
                <remoteDirectory>tidesdk/builds/osx-x86-64</remoteDirectory>
                <sourceFiles>build/osx/*.zip</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>true</flatten>
                <cleanRemote>false</cleanRemote>
                <asciiMode>false</asciiMode>
              </jenkins.plugins.publish__over__ftp.BapFtpTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ftp.BapFtpPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>true</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ftp.BapFtpPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ftp.BapFtpPublisherPlugin>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget>
          <name>#tidesdk</name>
          <notificationOnly>false</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>